<!-- component -->
<div class="w-full bg-gray-50 text-black">
    <div class="xl:px-40 pb-12 lg:px-20 md:px-10 sm:px-5 px-10">
        <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2  justify-start">
            <div class="w-full sm:w-4/5 pr-6 flex flex-col space-y-4">
          <h1 class="mb-3 font-bold text-5xl">🏝</h1>

                <p class="opacity-60 pt-11">Concord Royal Court (3rd floor)
                    Colombo, Mount Lavinia, Sri Lanka.</p>
            </div>
            <div class="w-full sm:w-2/5 flex flex-col space-y-4">
                <a class="opacity-60">About Us</a>
                <a class="opacity-60">Responsibilities</a>
                <a class="opacity-60">Out Services</a>
                <a class="opacity-60">Contact</a>
            </div>
            <div class="w-full sm:w-2/5 flex flex-col space-y-4">
                <a class="opacity-60">Disclaimer</a>
                <a class="opacity-60">Testimonials</a>
                <a class="opacity-60">Privacy Policy</a>
                <a class="opacity-60">Terms of Service</a>
            </div>

        </div>

    </div>
</div>
