<mat-toolbar color="warn">
    <mat-toolbar-row>
        <!--        <button mat-icon-button>-->
        <!--            <mat-icon (click)="toggleSidenav()">menu</mat-icon>-->
        <!--        </button>-->
        <!--        <h1>GuideLK</h1>-->
        <span class="menu-spacer"></span>
        <div class="pad-wrap">
             <span *ngFor="let module of moduleList">
                <button mat-icon-button>
          <mat-icon>{{module.icon}}</mat-icon>
                <span (click)="getPages(module.moduleId)">{{module.moduleName}}</span>
            </button>
             </span>
        </div>
    </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="isShowing">
        <mat-nav-list>
            <mat-list-item *ngFor="let page of pageList">
                <a mat-list-item [routerLink]="['/', page.urlPattern ]">
                    <mat-icon>{{ page.icon }}</mat-icon>
                    {{ page.pageName }}
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="warn">
</mat-toolbar>